.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

Debug/
Release/
x64/
x86/
build/
out/

*.obj
*.pdb
*.ipch
*.ilk
*.log
*.tlog
*.idb
*.iobj
*.ipdb

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

Thumbs.db
.DS_Store
